<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages. Do not put scripts before this line.-->
  <meta name="viewport" content="width=device-width, user-scalable=yes"><!--Mobile device scaling-->
  <meta charset="UTF-8">
  <title>DocGen</title>

  <!--load stylesheets first (rationale: https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts)-->
  <link rel="stylesheet" href="require/webknife/framework.min.css" type="text/css" />
  <link rel="stylesheet" href="require/docgen.css" type="text/css" />
  <link rel="stylesheet" href="require/print.css" media="print" />

<style>

html {
  background: none;
}

#dg-logo {
  display: inline-block;
  float: right;
}

#dg-cover-info {
  width: 100%;
  border-radius: 6px;
}

#dg-cover-info th {
  background-color: #385691;
  color: white;
  font-size: 24px;
  padding: 15px;
}

#dg-footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   text-align: center;
}

</style>


<script src="require/webknife/framework.min.js"></script>

</head>
<body>

<div class="w-clear-after"><div id="dg-logo"><img src="files/images/logo.png" /></div></div>

<table class="w-table w-fixed" id="dg-cover-info">
 <tr>
  <th colspan="3" id="dg-title"></th>
 </tr>
 <tr>
  <td><strong>Owner: </strong> <span id="dg-owner"></span></td>
  <td><strong>Version: </strong> <span id="dg-version"></span></td>
  <td><strong>Released: </strong> <span id="dg-release-date"></span></td>
 </tr>
 <tr>
  <td><strong>Author: </strong> <span id="dg-author"></span></td>
  <td colspan="2"><strong>Contributors: </strong> <span id="dg-contributors"></span></td>
 </tr>
 <tr>
  <td><strong>Module: </strong> <span id="dg-module"></span></td>
  <td><strong>ID: </strong> <span id="dg-id"></span></td>
  <td><strong>Link: </strong> <span id="dg-link"></span></td>
 </tr>
 <tr>
</table>

<h1>Summary</h1>
<p id="dg-summary"></p>

<div id="dg-footer">
  <p><span id="dg-copyright"></span></p>
  <p>
    <p id="dg-marking"></p>
    <p id="dg-legalese"></p>
    <p id="dg-attribution"></p>
  </p>
</div>

</body>
</html>
