header > div > a div {
	height: 42px;
	line-height: 42px;
	padding-left: 85px; /*width+25*/
}

pre {
	font-size: 12px; /*todo - move to webknife*/
}

/******************************** TABLE OF CONTENTS ****************************/

/*Table of contents button to initiate show/hide*/
#navigator 
{
 float: right;
 background-color: #4d4d4d;
 color: white;
 text-align:right;
 padding: 10px 20px 10px 20px;
 margin-right: 200px;
 border-radius: 0 0 10px 10px;
 cursor: pointer;
 font-weight: bold;
}

/*Table of contents container*/ 
#toc {
	color: white;
	background-color: #4d4d4d;
}

#toc table {
	table-layout: auto; 
	width: 100%;
}

#toc div {
	padding: 15px 0 15px 0;
}

/*Columns in table of contents*/

#toc td {
	border-right: 1px solid #666;
	vertical-align: top;
	text-align: left;
	padding: 0 20px 0 20px;
}

#toc ul {
	padding: 0;
	list-style-type: none;
}

#toc li {
	font-weight: bold;
}

#toc table td a {
	color: white;
	font-weight: normal;
	text-decoration: none;
	margin-left: 10px;
}

#toc table td a:hover { 
	text-decoration: underline;
}

#toc-fixed-column { 
	border-right: none; 
}

#toc table #toc-fixed-column a {
	vertical-align: middle;
	margin-left: 4px;
}

.toc-group {
	width: 22%;
}

.toc-heading {
	font-size: 16px;
}

.toc-icon {width: 18px; height: 18px; float: left;}
.toc-icon svg {fill: white;}

