<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" ><!--Prevent IE using compatibility mode on local or intranet pages. Do not put scripts before this line.-->
  <meta name="viewport" content="width=device-width, user-scalable=yes"><!--Mobile device scaling-->
  <meta charset="UTF-8">
  <title>DocGen</title>

  <!--load stylesheets first (rationale: https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts)-->
  <link rel="stylesheet" href="require/webknife/framework.min.css" type="text/css" />
  <link rel="stylesheet" href="require/webknife/highlight.min.css" type="text/css" />
  <link rel="stylesheet" href="require/docgen.css" type="text/css" />
  <link rel="stylesheet" href="require/print.css" media="print" />

  <!--load scripts second-->

  <script src="require/webknife/framework.min.js"></script>
  <script src="require/webknife/framework.icons.js"></script>
  <script src="require/webknife/highlight.min.js"></script>

  <!--inline scripts last-->

<script type="text/javascript">

$(document).ready( function () {
  $("#toc").hide(); //hide the table of contents

  //instantiate an svg injector to show SVG icons
  var injector = new svgInject();
  injector.inject();

  //code syntax highlighting
  $('pre code, .w-inline-code').each(function(i, block) {
    hljs.highlightBlock(block);
  });

  //toggle visibility of table of contents
  $("#navigator").click(function()
  {
    $("#toc").slideToggle("fast");
    $(this).toggleClass("active");
  });
 
});
</script>


</head>

<body>

<div id="toc"></div>
<div id="navigator">Table of contents</div>

<header>
 <div class="w-fixed-width">
  <a href="<%homepage%>">
    <div style="background-image:url('docs/images/logo.png');">
      <span id="name"></span><span id="version" style="font-weight:normal;"></span>
    </div>
  </a>
  <div>
  </div>
 </div>
</header>

<section>
<div class="w-fixed-width">

<div id="content"></div>

</div>
</section>

 <footer>
  <div><p class="w-fixed-width"><span id="version-date">.</p></div>
  <div class="w-fixed-width">
    <p>&copy; <span id="year"></span> <span id="organization"></span></p>
    <p>
      <p id="legalese"></p>
      <p id="attribution"</p>
    </p>
  </div>
 </footer>
 
 </body>
</html>
