html {
 background-color :white; /*otherwise background artefacts appear as a feint outline in PDF*/
}

.dg-pageToc {
	display: none;
}

#toc, #navigator, header, footer {
	display: none;
}

.no-break, #content th, #content tr, #content .styled-table tr, #content blockquote, #content pre {
	page-break-inside: avoid;
}

.force-break {
	page-break-after: always;
}
